.profilee{
    margin: 20px;

    .firstdiv{
        h1{
            font-family: sans-serif;
            padding-bottom: 10px;
            padding-left: 15px;
            .logo1{
                font-size: 20px;
            }
        }
    }
    .seconddiv{
        display: flex;
       
        .secondone{
        //    padding: 10px;
           img{
            height: 100px;
            width: auto;
          
            border-radius: 90%;
            border: 2px solid #fff;
            // padding: 1px;
           }
          .editbtn{
            display: flex;
            justify-content: center;
            padding-top: 20px;
            .edit{
              padding: 2px 20px;
             color: #1b1815;
             background-color: #FAAF52;
            cursor: pointer;
            &:hover{
                background-color: #1b1815;
                color:#ffffff;;
             }
            }
          }
        }
        .secondtwo{
            padding: 10px;
            width: 60%;
            margin: 0px 50px 0px 50px;
       
            .secondtwoone{
                padding-top: 20px;

                .one{
                    font-weight: bold;
                    padding-bottom: 10px;
                }
                .two{
                    font-weight: bold;
                    text-decoration: underline;
                    // color: rgb(21, 64, 202);
                    color: #FAAF52;
                    padding-bottom: 10px;
                    // padding-bottom: 5px;  
                }
               .three{
                padding-top: 10px;
                font-weight: bold;
               
                .cell{
                    color: #FAAF52;
                }
             
               }
            }
        }
        .secondthree{
            padding: 10px;
            .secondthreeone{
                padding-bottom: 10px;
            }
            .secondthreetwo{
                color:   #FAAF52;
            }
        }
    }


    .thirddiv{
        padding-top: 20px;
        
        .thirddivh3{
            .logo{
            padding-top: 10px;
            }
        }
        .thirdone{
           display: flex;
           justify-content: center;
           flex-wrap: wrap;
           margin-top: 100px;

           .thirdtwo{
            width: 325px;
            background-color: #FAAF52;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
            margin: 10px;

            .thirdimg{
            width: 100%;
            height: auto;
            }

            .thirdthree{
                padding: 16px;

                .thirdfour{
                    // padding: 10px;
                    display: flex;
                   flex-direction: row;
                   .thirdfourone{
                    padding-top: 5px;
                    font-size: 17px;
                    .thirdp{
                        padding: 1px;
                    }
                    .thirdpp{
                        padding: 1px;
                        color: #fff;
                        font-weight: bold;
                    }
                   }
                   .thirdfourtwo{
                    padding-left: 30px;
                    padding-top: 50px;
                    font-size: 17px;
                   }
                }

                .thirdfive{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding-top: 10px;
                    .thirdfiveone{
                        // padding: 10px;
                        button{
                            padding: 8px;
                            // background-color: #fff;
                            font-weight: bold;
                        }
                    }

                }
            }
           }
        }
    }
}