.edit{
   
    .editone{
        display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 2%;

    .editoneh1{
        font-size: 50px;
    }
    }
    .edittwo{
        
        .editform{
            max-width: 300px;
            margin: auto;
            
            
            label {
                display: block;
                margin-top: 10px;
              }
              
              input[type="text"],
              input[type="email"],
              input[type="file"] {
                width: 100%;
                padding: 10px;
                margin-top: 5px;
                margin-bottom: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
              }
              
              input[type="submit"] {
                background-color: #FAAF52;
                color: white;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
              }
              
              input[type="submit"]:hover {
                background-color: #FAAF52;
              }
              
              input[type="file"] {
                padding: 5px 0;
              }
        }
    }
}