.sellmycar {
    color: #151F28;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
    padding: 20px;

    flex-direction: row;
    color: rgb(255, 255, 255);
    background-color: #6a5555;

    @media (max-width: 768px) {
        flex-direction: column;
        margin: 10px;
        width: 100%;
        /* Change direction for smaller screens */
    }

    .leftsidefrom,
    .rightsidefrom {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        @media (max-width: 768px) {
            flex-direction: column;
            margin: 20px;
            width: 100%;
            /* Change direction for smaller screens */
        }

        label {
            color: #151F28;
            margin: 5px;
            padding: 10px;
            width: 100%;
            font-size: 20px;
            font-weight: bold;

            @media (max-width: 768px) {
                width: 100%;
            }

        }

        input {
            width: 100%;
            margin: 15px;
            padding: 15px;
            border: 1px solid #f35405;
            border-radius: 4px;
            font-size: 16px;
            background-color: rgb(250, 175, 82);

            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }

    



}