@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Bruno+Ace&family=Macondo&family=Monoton&family=Nunito:wght@500;700;900&family=Roboto:wght@100&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Cormorant+Garamond:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comforter+Brush&family=Cormorant+Garamond:ital,wght@1,300&display=swap');

.index {
  margin: 0;
  padding: 0;

  .header {
    background-color: rgba(255, 255, 255, 0.944);

    .backgroundimage {
      background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, #000000 100%), url(images/c.jpg);
      height: 100vh;

      background-size: cover;
      background-position: center;

      h1 {
        display: flex;
        justify-content: center;
        padding-top: 10%;
        font-family: 'Abril Fatface', cursive;
        margin: 0;
        font-size: 50px;
        color: #FAAF52;

        text-shadow: 0 0 5px #151F28,
          0 0 25px #151F28,
          0 0 50px #151F28,
          0 0 100px #151F28;

      }

      .search-container {
        /* Center the search container */
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5%;

        .wrap {
          width: 30%;
          top: 50%;
          // left: 50%;
          // transform: translate(-50%, -50%);
          box-shadow: 0 0 5px #151F28,
            0 0 25px #151F28,
            0 0 50px #FAAF52,
            0 0 100px #FAAF52;

          .search {
            width: 100%;
            position: center;
            display: flex;
            justify-content: center;
            overflow: hidden;


            .searchTerm {
              width: 100%;
              border: 1px solid #151F28;
              padding: 19px;
              height: 22px;
              border-radius: 5px 0 0 5px;
              outline: none;
              color: #FAAF52;

            }

            .searchTerm:focus {
              color: #151F28;
            }

            .searchButton {
              width: 40px;
              height: 40px;
              border: 1px solid #151F28;
              background: #ffffff;
              text-align: center;
              color: #FAAF52;
              border-radius: 0 5px 5px 0;
              cursor: pointer;
              font-size: 20px;
              padding: 2px;

              p {
                font-size: larger;


              }
            }

          }
        }

      }

      .buttoncon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 4%;

        button {
          margin: 2%;
          background-color: #151F28;
          color: white;
          font-size: 80%;
          font-weight: bold;
          padding: 1% 1%;
          border: 1px solid #fa8900;
          border-radius: 8px;
          cursor: pointer;

          &:hover {
            background-color: #FAAF52;
            color: rgb(0, 0, 0);
          }
        }
      }
    }
  }

  .secendheader {
    h1 {
      font-family: 'Abril Fatface', cursive;
      font-weight: 100px;
      font-size: 50px;
      padding-top: 10%;
      color: #FAAF52;
      text-align: center;
      letter-spacing: 5px;
      text-shadow: 16px 22px 11px rgba(182, 181, 168, 0.8);
    }

    .secondpart {

      background-color: white;
      border: 1px solid #151F28;
      box-shadow: 0 0 10px #151F28;
      display: flex;
      justify-content: center;

      table {
        width: 100%;

        tr {
      border: 1px solid #151F28;

          th {
            
            font-size: 20px;
            color: #151F28;
            padding: 2%;

          }

          td { 
            font-family: 'Abril Fatface', cursive;
            text-align: center;
            padding-top: 15px;

            a {
              font-size: larger;
              text-decoration: none;
              color: #FAAF52;
              transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

              &:hover {
                color: #ffffff;
                padding: 0 20px;
                box-shadow: inset 100px 0 0 0 #FAAF52;

              }
            }
          }
        }
      }

    }
  }

}